<h1>Tasks</h1>

<table>
  <thead>
    <th>Id</th>
    <th>Description</th>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td> <%= task.id %> </td>
      <td> <%= link_to task.description, task_path(task) %> </td>
      <td> <%= button_to 'Delete', task_path(task), method: :delete %> </td>
      <td> <%= button_to 'Edit', edit_task_path(task), method: :get %> </td>
    </tr>
    <% end %>
  </tbody>
</table>