<h1>Tasks</h1>

<table>
  <thead>
    <th>Id</th>
    <th>Description</th>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td>
          <%= task.id %>
        </td>
        <td>
          <%= task.description %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>