<h3>
  <%= @task.description %>
</h3>
<%= button_to 'Delete', task_path(@task), method: :delete, class: 'btn btn-danger' %>
<%= button_to 'Edit', edit_task_path(@task), method: :get, class: 'btn btn-success' %>